@import '../../styles/settings.scss';

.nav {
    padding: 1px;
    background-color: darken($color-dark, 3%);
    font-family: $font-text;
    a {
        text-decoration: none;
        color: $color-light;
    }
}

.navContainer {
    display: flex;
    justify-content: space-between;
}

.iconLink {
    font-size: 26px;
    margin: 8px 0 $base-size $base-size;
}

.linkList {
    list-style-type: none;
    li {
        display: inline-block;
        margin-right: $base-size;
        a {
            font-size: 16px;
            font-weight: 700;
        }
        .linkActive {
            color: $color-warning;
        }
    }
}
